  <div id="posts">

    <h1>Posts</h1>
    <hr>

    <% unless @posts.empty? %>
    <ul>
      <% @posts.each do |post| %>
      <li><p><%= link_to post.title, post_path(post.id) %> <span class='post_author'>@duder<span></p></li>
      <% end %>
    </ul>

    <% else %>
    <p>There are no posts to display.</p>
    <% end %>

    <hr>
  </div>
