  <div id="posts">

    <h1>Posts</h1>
    <hr>

    <% unless @posts.empty? %>
    
    <ul>
      <% @posts.each do |post| %>

        <%= link_to post_path(post.id) do %> 
          <li><p>
            <%= post.title %> 
            <span class='post_author'>@<%= post.user.username %><span>
          </p></li>
        <% end %>

      <% end %>
    </ul>

    <% else %>
    <p>There are no posts to display.</p>
    <% end %>

    <hr>
  </div>
